<div class="container" style="height:100vh">
    <br>
    <br>
    <div class="row" ng-show="!isLoggedIn">
        You need to login first!!
    </div>

    <div class="row well" ng-show="isLoggedIn">
        <ul>
            <li>
                <button ng-click="createNew()" class="btn btn-info">Create</button>
            </li>
            <br>
            <li>
                <button ng-click="edit()" class="btn btn-info">Edit</button>
            </li>
            <br>
            <li>
                <button ng-click="uploadImages()" class="btn btn-info">uploadImages</button>
            </li>
        </ul>
    </div>
</div>