<!-- public/views/home.html -->

<!--
<div class="jumbotron ">
    <div class="row">

        <div class="col-md-4">
            <img src="assets/image2.jpg" class="img-rounded" alt="Cinque Terre" width="300" height="236">
        </div>

        <div class="col-md-10">
            <h2>Lets explore life !</h2>
            <p>{{ tagline }}</p>
        </div>
    </div>
</div>
-->

<div class="row">
    <div class="col-md-2">
        <h4>
        Current Trips are:
        </h4>
        <ul>
            <li ng-repeat="tripObject in trips| orderBy: '-createdOn' ">
                <a href="#trip" ng-click="updateID(tripObject._id)">
            {{tripObject.title}}
        </a>
            </li>
        </ul>
    </div>
    <div id="trip" class="col-md-6">
        <h3>
            {{currentTrip.title}}
        </h3>
        <br>
        <div ta-bind="text" ng-model="currentTrip.description" ta-readonly='disabled'></div>
        <br>
        <br>
    </div>
    <div class="col-md-4">

    </div>
</div>