<div class="parallax1">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:100px;color: #f7f7f7;font-family: 'Tangerine', serif;">Welcome to trekking toad !</span>
    </div>
</div>

<div style="background-color:white; text-align:center;padding:50px 80px;text-align: justify; ">
    <h3 style="text-align:center;font-family: 'Architects Daughter';font-size:50px ">
    Hello trekkers, Welcome home :) </h3>
    <div style="font-family: 'Architects Daughter', cursive;font-size:18px ">
        <br> Trekking toad is a window to number of forest trails, treks, mountains, lake sides and what not! Are you a newbie trekker. worry not. We have whole lot of treks documented with ranging variations in endurance. Get route, maps, food and accommodation info within minutes.
        <br>
        <br> Are you experienced nerd!! Well share your thoughts and info. Let more and more people see the new places. Help them follow your trails.
        <br>
        <br>
        <br> Start digging! Explore the unexplored!!
    </div>
</div>
<div class="parallax1 "></div>


<div style="padding:50px 80px;height=500px;font-family: 'Architects Daughter';background-image:url( '/assets/background.jpg') ">
    <h3 style="text-align:center; "><a href="/blogs ">Blogs</a></h3>
    <br>
    <br>
    <div class="row ">
        <div ng-repeat="blog in blogs| limitTo:-3 ">
            <!--            <div class="col-sm-3 well " style="background-color:lavender; " >-->
            <div class="col-md-3 ">
                <div class="thumbnail " style="background-color:lavender; ">
                    <a href="/specificblogs/{{blog._id}} ">
                        <img src="/uploads/{{blog.title}}.jpg " class="img-thumbnail ">
                        <div style="text-align:center;color:#777;font-size:30px; ">{{blog.title}}</div>
                        <br>
                        <p style="text-align:justify;color:#777; ">{{blog.intro | limitTo:300}}....</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-1 "></div>
        </div>
    </div>
</div>

<div class="parallax2 "> </div>


<div style="background-image:url('/assets/background.jpg'); text-align:center;padding:50px 80px;text-align: justify;height=500px;width=600px;font-family: 'Architects Daughter'; ">
    <h3 style="text-align:center; "> <a href="/treks ">Upcoming Treks</a></h3>
    <br>
    <br>
    <div class="row ">
        <div ng-repeat="trek in treks| limitTo:-3 ">
            <!--            <div class="col-sm-3 well " style="background-color:lavender ">-->
            <div class="col-md-3 ">
                <div class="thumbnail " style="background-color:lavender; ">
                    <a href="/specificblogs/{{trek._id}} ">
                        <img src="/uploads/{{trek.title}}.jpg " class="img-thumbnail ">
                        <div style="text-align:center;color:#777 ">
                            <h3>{{trek.title}}</h3>
                            <br>
                        </div>

                        <p style="color:#777 ">{{trek.intro | limitTo:300}}....</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-1 "></div>
        </div>
    </div>
</div>

<div class="parallax3 "> </div>

<div style="position:relative; ">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify; ">
        <p>Contact us at facebook,twitter .</p>
    </div>
</div>