<!-- public/views/home.html -->
<div class="container">
    <!-- <div class="jumbotron">
        <h1>Lets start !!</h1>
    </div> -->
    <div class="form-group" style="height:100vh" ng-show="!isLoggedIn">

        <div class="row">
            <div class="col-sm-4">
                Username:
                <input type="text" ng-model="username" class="form-control">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                Password:
                <input type="password" ng-model="password" class="form-control">
            </div>
        </div>
        <br>


        <div class="row" ng-show="enableRegistration">
            <div class="col-sm-4">
                Retype password:
                <input type="password" ng-model="confirmpassword" class="form-control">
            </div>
        </div>
        <br>
        <button ng-click="login()" ng-show="!enableRegistration">Login</button>
        <button ng-click="register()" ng-show="!enableRegistration">register</button>
        <button ng-click="confirmAndRegister()" ng-show="enableRegistration">confirm</button>
        <br>
        <br>
        <div class="row" g-login type="button">
            <div class="col-md-2">
                <img src="/assets/google-login.png" width=10>
            </div>
        </div>
    </div>

    <div ng-show="isLoggedIn">
        You are signed in as {{username}}
        <button ng-click="signOut()">Sign out</button>
    </div>

</div>