<div class="container">
    <div class="row" style="font-family: 'Kurale';">

        <div class="col-md-8 well" style="font-size:20px;overflow-y:auto">
            <div class="row">
                <div ng-show="blog.type == 'TREK'" ng-if="isLoggedIn" ng-click=" updateUserId()" class="col-md-8">
                    <form>
                        Updates
                        <br>
                        <switch id="updateFlag" name="updateFlag" ng-model="updateFlag" class="blue"></switch>
                        <br>
                    </form>
                </div>
                <div class="col-md-1">
                    <a twitter data-lang="en" data-count='horizontal' data-url='http://trekkingtoad.com//{{blog._id}}/{{blog.slug}}' data-via='' data-size="medium" data-text='TrekkingToad'></a>
                </div>
                <div class="col-md-1">
                    <div linkedin class="linkedinShare" data-annotation="none" data-url='http://trekkingtoad.com//{{blog._id}}/{{blog.slug}}'></div>
                </div>
                <div class="col-md-1">
                    <div gplus class="g-plus" data-size="tall" data-annotation="none" data-href='http://trekkingtoad.com//{{blog._id}}/{{blog.slug}}' data-action='share'></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2>{{blog.title}}</h2>
                </div>

            </div>

            <!--
<carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" height="200" width="200">
        <div class="carousel-caption">
            <h4>Slide {{$index+1}}</h4>
        </div>
    </slide>
</carousel>
-->
            <br> {{blog.intro}}
            <br>
            <div ta-bind="text" ng-model="blog.description" ta-readonly='disabled'></div>
            <br>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="thumbnail" ng-show="galleryPicsExists">
                <a ng-click="openLightboxModal(0)">
                    <img src="{{images[0]}}">
                    <h3 style="text-align:center">Gallery</h3>
                </a>
            </div>

            <div style=" position: fixed;bottom:0;margin-right:50px;" class="row">
                <div class="panel-heading top-bar row" ng-click="toggleChat()">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat</h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span>
                        <!--    <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>-->
                    </div>
                </div>
                <div ng-show="chatwindowEnabled">
                    <div class="row well" style="height:250px; overflow:auto; font-size:15px;margin-bottom:0px" id="autoscroll">
                        <div ng-repeat="chat in chats">
                            <div ng-if="chat.creator==currentuser">
                                <div class="row msg_container base_sent">
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_sent">
                                            <u>{{chat.creator}}:</u>
                                            <br>
                                            <p>{{chat.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!(chat.creator==currentuser)">
                                <div class="row msg_container base_receive">
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_receive">
                                            <u>{{chat.creator}}:</u>
                                            <br>
                                            <p>{{chat.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer row well">
                        <form ng-submit="createChat()" class="input-group" ng-show="isLoggedIn">
                            <input id="btn-input" type="text" ng-model="chatMessage" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                            <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                        </span>
                        </form>
                        <div ng-show="!isLoggedIn" style="float:left">
                            <a href="/login">You need to log in to post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>