<div class="container" style="height:100vh">
    <div class="row" style="font-family: 'Architects Daughter', cursive;font-size:50px;" ng-show="treks.length == 0">
        <br>
        <br>
        Ohhh, Looks like we Dont have any trek right now. Message us on facebok and we will try to arrange one for you!
    </div>
    <div class="row" style="font-family: 'Architects Daughter', cursive;font-size:15px;" ng-show="treks.length != 0">
        <br>
        <div class="col-md-1">
            <a twitter data-lang="en" data-count='horizontal' data-url='http://trekkingtoad.com/blogs' data-via='' data-size="medium"
                data-text='TrekkingToad'></a>
            <div linkedin class="linkedinShare" data-url='http://trekkingtoad.com/blogs' data-title='Linkedin Share' data-summary="testing Linkedin Share"
                data-shares='linkedinshares'>Share</div>
            <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://trekkingtoad.com/blogs' data-action='share'></div>
        </div>
        <div class="col-md-6">
            <div ng-repeat="trek in treks|orderBy:'-createdOn'">
                <div class="well well-lg" style="background-color:lavender;color:#777 ">
                    <a href="//{{trek._id}}/{{trek.slug}}">
                        <h3><b>{{trek.title}}</b></h3>
                        <br>
                        <!--<div style="background-image:url('../assets/{{blog.title}}.jpg'); max-height:100%;max-width:100%;background-size: cover;"></div>-->
                        <img src="/uploads/{{trek.image}}" class="img-thumbnail" alt="Image not found">
                        <br> {{trek.intro | limitTo:300}}.......
                    </a>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <br>
            <b>featured </b>
            <br>
            <br>
            <div ng-repeat="title in ['Kalsubai']">
                <div class="well">
                    <a href="//5820a685af56040aebf8b726/kalsubai">
                        <h4><b>{{title}}</b></h4>
                        <p>
                            वेळ शुक्रवार दुपारची. ऑफिस मधे गारेगार एसीत बसून काम चालू होत. बाहेर पावसाची आणि आतमधे माझ्या नाकाची संततधार चालू होती. ह्याच
                            सर्दी मुळे हरिश्चंद्राचा लाखमोलाचा बेत फिस्कटला होता. अशा परिस्थितीत उद्या कळसुबाई कशी सर होणार
                            हा विचार करत उरलेल्या कामाचा फडशा पडत असतानाच फोन खणखणला. मित्राचा मेसेज. '
                        </p>
                    </a>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>