<div class="row">
    <div class="col-md-3">
        <h4>
        Current Trips are:
        </h4>
        <ul>
            <li ng-repeat="tripObject in trips| orderBy: '-createdOn' ">
                <a href="#trip" ng-click="updateID(tripObject._id)">
            {{tripObject.title}}
        </a>
            </li>
        </ul>
    </div>

    <div ng-show="!enableChat">
        Select Trip first
    </div>
    <div class="col-md-9" id="trip" ng-show="enableChat">
        {{currentTrip.title}}
        <div class="row">
            <div class="col-md-6">
                <input type="text" ng-model="chatMessage" class="form-control">
            </div>
            <div class="col-md-1">
                <span class="glyphicon glyphicon-send" ng-click="createChat()" ng-show="isLoggedIn">
                </span>
                <div ng-show="!isLoggedIn">
                    Login to post
                </div>
            </div>
        </div>
        <h3>
            Discussions:
        </h3>
        <div class="row scroll">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <ul>
                    <li ng-repeat="chat in chats">
                        {{chat.message}} - {{chat.creator}}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>