<div class="container">
    <div class="row" ng-show="!isLoggedIn">
        You need to login first!!
    </div>
    <div class="row" ng-show="isLoggedIn">
        <div class="col-md-2">

            <h4>
        Select:
        </h4>
            <ul>
                <li ng-repeat="tripObject in trips| orderBy: '-createdOn' ">
                    <a href="#trip" ng-click="updateID(tripObject._id)">
            {{tripObject.title}}
        </a>
                </li>
            </ul>
        </div>
        <div id="trip" class="col-md-8 well" ng-show="enableChat">
            <div ng-repeat="alertupdate in alerts">
                <div class={{alertupdate.class}}>
                    <a href="#" class="close" ng-click="closeAlert($index)" aria-label="close">&times;</a> {{alertupdate.msg}}
                </div>
            </div>
            <div ng-show="!editable">
                <div class="row">
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-edit" ng-click="editFields()"></span>
                    </div>
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-remove" ng-click="deletetrip()"></span>
                    </div>
                </div>
                <h3>
            {{currentTrip.title}}
        </h3>
                <br>
                <div ta-bind="text" ng-model="currentTrip.description" ta-readonly='disabled'></div>

                <br> By- {{currentTrip.createdBy}}
            </div>
            <div ng-show="editable">
                <div class="col">
                    <div class="row">
                        <h4>
            <span class="label label-primary">
                Choose Files for gallery:
            </span>
            </h4>
                        <br>
                        <input type="file" ngf-select ng-model="GalleryFiles" ngf-multiple="true">
                        <br>
                    </div>
                    <button ng-click="uploadGaleeryImages()"> Upload</button>
                </div>
                <hr>
                <hr>
                <form ng-submit=updateTrip()>
                    <input type="submit" value="update" class="btn btn-success" />

                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-8">
                            Title:
                            <input type="text" ng-model="currentTrip.title" class="form-control" required>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-8">
                            Intro:
                            <br>
                            <textarea rows="4" ng-model="currentTrip.intro" class="form-control" required="true"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="radio" name="TYPE" ng-model="currentTrip.type" value="TREK" required>Trek
                            <br>
                            <input type="radio" name="TYPE" ng-model="currentTrip.type" value="BLOG" required>Blog
                        </div>
                    </div>
                    <br> Description:
                    <br>
                    <div text-angular="text-angular" name="htmlcontent" ng-model="currentTrip.description   " ta-disabled='disabled'>
                    </div>

                    <!--            <textarea rows="10" cols="50" ng-model="currentTrip.description" class="form-control"></textarea>-->
                    <br>
                    <br>
                </form>
            </div>
            <br>
            <br>
        </div>

        <!--
<div class="col-md-5" ng-show="editable">

    Preview:
    <br>
    <h4>{{currentTrip.title}}
        </h4>
    <br>
    <div ta-bind="text" ng-model="currentTrip.description" ta-readonly='disabled'></div>
</div>
-->
    </div>
</div>