<div class="row" ng-show="!isLoggedIn">
    You need to login first!!
</div>
<div class="row" ng-show="isLoggedIn">
    <div class="col-md-6">
        Title:
        <br>
        <input type="text" ng-model="title" class="form-control">
        <br> Description:
        <br>
        <textarea rows="4" cols="50" ng-model="description" class="form-control"></textarea>
        <br>
        <button class="btn btn-primary" ng-click="createTrip()">Create</button>
        <h4>
        Current Trips are:
        </h4>
        <ul>
            <li ng-repeat="tripObject in trips| orderBy: '-createdOn' ">
                <a href="#trip" ng-click="updateID(tripObject._id)">
            {{tripObject.title}}
        </a>
            </li>
        </ul>
    </div>
    <div id="trip" class="col-md-6" ng-show="enableChat">
        <div ng-show="!editable">
            <span class="glyphicon glyphicon-edit" ng-click="editFields()"></span>
            <span class="glyphicon glyphicon-remove" ng-click="deletetrip()"></span>

            <h3>
            {{currentTrip.title}}
        </h3>
            <br> {{currentTrip.description}}
            <br> By- {{currentTrip.createdBy}}
        </div>
        <div ng-show="editable">
            <br> Title:
            <input type="text" ng-model="currentTrip.title" class="form-control">
            <br> Description:
            <br>
            <textarea rows="10" cols="50" ng-model="currentTrip.description" class="form-control"></textarea>
            <br>
            <span class="glyphicon glyphicon-ok" ng-click="updateTrip()"></span>
        </div>
        <br>
        <br>
        <!--
<div class="row">
    <div class="col-md-10">
        <input type=text ng-model="chatMessage" class="form-control">
    </div>
    <div class="col-md-2">
        <span class="glyphicon glyphicon-send" ng-click="createChat()"></span>
    </div>
</div>
<h3>
            Discussions:
        </h3>
<div class="row scroll">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <ul>
            <li ng-repeat="chat in chats">
                {{chat.message}}
            </li>
        </ul>
    </div>
</div>
-->
    </div>
</div>